/* Sections */
body {
    background-color: #00061a;
    width: 100%;
    height: 100%;
    color: white;
}
.App {
    /* position: relative; */
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    font-family: 'MuseoModerno', cursive;
}
.sidebar-container {
    position: relative;
    min-width: 160px;
    /* width: 35%; */
}
.main-container {
    position: relative;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    min-width: 150px;
    /* min-height: 300px; */
    padding: 5px;
    /* border: solid 1px	#333333; */
    /* border-radius: 2mm; */
}
.content-container {
    position: relative;
    min-width: 225px;
    margin-left: 10px;
    /* width: 40%; */
}
.spacer {
    padding: 5px;
    /* border: solid 1px white; */
}
/* Sidebar Styles */
.sidebar-content img {
    width: 20px;
    padding: 4px;
    margin-top: 6px;
    margin-left: 6px;
    cursor: pointer;
}
.sidebarform-content {
    display: block;
    margin-left: 5px;
    margin-right: 5px;
}
.sidebar-form input {
    display: flex;
    flex-direction: column;
    background: none; 
    width: 130px;
    font-family: 'MuseoModerno', cursive;
    font-size: .8rem;
    border: none;
    border-bottom:solid .5px #333333;
}
.sidebar-form-btn {
    background: none;
    font-family: 'MuseoModerno', cursive;
    color: #c1c1d7;
    border: none;
    transition: 700ms ease-in-out;
}
.sidebar-form-btn:hover {
    transition: 700ms ease-in-out;
    color: #72E5BE;
}
.links-container {
    margin-top: 3px;
}
.link {
    font-size: .6rem;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 3px;
    border-radius: 5mm;
    transition: 700ms;
}
.link:hover {
    color: #72E5BE;
    transition: 700ms;
}
.iframe-links {
    margin-top: 5px;
    margin-left: 5px;
}

/* Main Styles */
.main-content {
    /* margin-top: 10px; */
}
.main-content a {
    text-decoration: none;
    color: #ffb3d9;
    text-shadow: 0 0 2px white;
}
.main-content img {
    width:25px;
    border-radius: 2mm;
}
.main-content ul li {
    display: block;
    margin: 0 auto;
    margin-top: 2%;
}

/* Navigation Styles */
.navigation-bar-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 5px;
}
.navigation-bar-container img {
    padding: 5px;
    width: 20px;
}
.zero {
    position: absolute;
    font-size: .5rem;
    right: 0;
    top: 15px;
}
/* Workouts Page */
.exercises {
    margin-left: 20px;
    margin-right: 50px;
}
.workouts-view h1 {
    margin-bottom: 10px;
}
.workouts-view h2 {
    margin-left: 10px;
    margin-top: 10px;
    font-size: .8rem;
}
.workouts-view table {
    font-size: .6rem;
    margin-left: 10px;
    margin-bottom: 10px;
}
.workouts-view table tr td {
    padding: 3px;
}
.lame {
    padding: 2px;
    margin-bottom: 5px;
    cursor: pointer;
}
.highlighted {
    padding: 2px;
    margin-bottom: 5px;
    color: #970000;
    cursor: pointer;
}
/* .back:hover {
    
}
.chest:hover {
    
}
.chest:hover {
    
}
.chest:hover {
    
} */
/* Tasks Page */
.tasks-form textarea {
    margin-top: 5px;
    background: none;
    border: solid .4px;
    display: block;
    color: white;
}
.tasks-form-btn {
    background: none;
    font-family: 'MuseoModerno', cursive;
    color: #c1c1d7;
    border: none;
    transition: 700ms ease-in-out;
}
.tasks-form-btn:hover {
    transition: 700ms ease-in-out;
    color: #72E5BE;
}
.my-tasks {
    margin-top: 5px;
}
.line {
    padding: 5px;
    border-bottom: solid .5px #ffb3d9;
    cursor: pointer;
}
.remove {
    background: none;
    border: solid .4px #ffb3d9;
    padding: 5px;
    margin-top: 10px;
    color: white;
    border-radius: 2mm;
}
.remove:hover {
    color: rgb(47, 255, 47);
    transition: 700ms ease-in-out;
}