/* Sections */
body {
    background-color: #00061a;
    right: 0;
    width: 100%;
    height: 100%;
    color: white;
}
.App {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    height: 100%;
    font-family: 'MuseoModerno', cursive;
}
.sidebar-container {
    position: relative;
    width: 160px;
}
.main-container {
    position: relative;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    width: 150px;
    padding: 5px;
}
.content-container {
    position: relative;
    width: 225px;
    margin-left: 10px;
}
.spacer {
    padding: 5px;
    /* border: solid 1px white; */
}
/* Sidebar Styles */
.sidebar-content img {
    width: 20px;
    padding: 4px;
    margin-top: 6px;
    margin-left: 6px;
    cursor: pointer;
}
.sidebarform-content {
    display: block;
    margin-left: 5px;
    margin-right: 5px;
}
.sidebar-form input {
    display: flex;
    flex-direction: column;
    background: none; 
    width: 130px;
    font-family: 'MuseoModerno', cursive;
    font-size: .8rem;
    border: none;
    border-bottom:solid .5px #333333;
    color: #eee;
}
.sidebar-form-btn {
    background: none;
    font-family: 'MuseoModerno', cursive;
    color: #c1c1d7;
    border: none;
    transition: 700ms ease-in-out;
}
.sidebar-form-btn:hover {
    transition: 700ms ease-in-out;
    color: #72E5BE;
}
.links-container {
    margin-top: 3px;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}
.link {
    font-size: .6rem;
    transition: 700ms;
}
.link:hover {
    color: rgb(246, 66, 66);
    transition: 700ms;
}
.item {
    font-size: .6rem;
    margin-left: 3px;
    transition: 700ms;
    width: 100px;
}
.item:hover {
    color: #72E5BE;
    transition: 700ms;
}
.iframe-links {
    margin-top: 5px;
    margin-left: 5px;
}

/* Main Styles */
.main-content {
    /* margin-top: 10px; */
}
.main-content a {
    text-decoration: none;
    color: #ffb3d9;
    text-shadow: 0 0 2px white;
}
.main-content img {
    width:25px;
    border-radius: 2mm;
}
.main-content ul li {
    display: block;
    margin: 0 auto;
    margin-top: 15px;
}

/* Navigation Styles */
.navigation-bar-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 5px;
}
.navigation-bar-container img {
    padding: 5px;
    width: 20px;
}
.zero {
    position: absolute;
    font-size: .5rem;
    right: 0;
    top: 15px;
}

/* Workouts Page */
.exercises {
    margin-left: 20px;
    margin-right: 50px;
}
.workouts-view h1 {
    margin-bottom: 10px;
    cursor: pointer;
}
.workouts-view h2 {
    margin-left: 10px;
    margin-top: 10px;
    font-size: .8rem;
}
.workouts-view table {
    font-size: .6rem;
    margin-left: 10px;
    margin-bottom: 10px;
}
.workouts-view table tr td {
    padding: 3px;
}
.lame {
    padding: 2px;
    margin-bottom: 5px;
    cursor: pointer;
}
.highlighted {
    padding: 2px;
    margin-bottom: 5px;
    color: #970000;
    cursor: pointer;
}

/* Tasks Page */
.tasks-form textarea {
    margin-top: 5px;
    background: none;
    border: solid .4px;
    display: block;
    color: white;
}
.tasks-form-btn {
    background: none;
    font-family: 'MuseoModerno', cursive;
    color: #c1c1d7;
    border: none;
    transition: 700ms ease-in-out;
}
.tasks-form-btn:hover {
    transition: 700ms ease-in-out;
    color: #72E5BE;
}
.my-tasks {
    margin-top: 5px;
}
.my-tasks-container h1 {
    cursor: pointer;
}
.line {
    padding: 5px;
    border-bottom: solid .5px #ffb3d9;
    cursor: pointer;
}
.remove {
    background: none;
    border: solid .4px #ffb3d9;
    padding: 5px;
    margin-top: 10px;
    color: #c1c1d7;
    border-radius: 2mm;
}
.remove:hover {
    color: rgb(20, 151, 20);
    transition: 700ms ease-in-out;
}
.clear {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 100;
    background-color: #00061a;
    padding: 20px;
    margin-top: -15px;
    border: solid 2px white;
}
.choice {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
}
.choice span {
    margin-top: 5px;
    cursor: pointer;
}

/* Goals Page */
.goals-content {
    display: block;
    padding: 10px;
    border: solid 2px white;
    margin-top: 5px;
    border-top-left-radius: 3mm;
    border-bottom-right-radius: 3mm;
}
.goals-content-view h1 {
    display: block;
    position: absolute;
}
.toggle-goals-form {
    display: block;
    text-align: right;
    margin-right: 20px;
    font-size: .6rem;
    cursor: pointer;
}
.goalslist {
    margin-top: 20px;
    display: flex;
    flex-direction: column-reverse;
}
.goal {
    font-family: 'Nanum Myeongjo', serif;
}
.steps {
    padding: 5px;
}
.goals-form input,textarea {
    background: none;
    color: white;
    border: none;
    margin-top: 15px;
    border: #c1c1d7 1px dotted;
    border-radius: 2mm;
}
.goals-form input {
    width: 220px;
    border: none;
    padding: 5px;
    border-bottom: dotted 1px #c1c1d7;
}
.goals-form-btn {
    background: none;
    font-family: 'MuseoModerno', cursive;
    color: #c1c1d7;
    border: none;
    transition: 700ms ease-in-out;
}
.goals-form-btn:hover {
    transition: 700ms ease-in-out;
    color: #72E5BE;
}